/* * {
  margin: 0;
  padding: 0;
} */
.universal-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.btn-color{
    background-color:#fd6e0a;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 19px 35px;
    border-radius: 5px;
    border: none;
}
.primary-color{
    color: #474747;
}
.secondary-color{
    background-color: #FFF8F3;
}
header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav Styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav h2 {
  font-weight: 800;
  font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
  list-style-type: none;
  margin-right: 51px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0px 200px;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin: 0;
}
.banner-desc{
    font-size: 18px;
    font-weight: 500;
    color: #757575;
}
.banner>img{
    width: 584px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About Section Styles */
.about-section{
    border-radius: 10px;
    padding: 137px 144px 125px 169px;
    text-align: center;
    margin-top: 130px;
}
.about-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about-desc{
    font-size: 18px;
    color: #757575;
}
.items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    margin-bottom: 0;
}
.item-desc{
    font-weight: 600;
    margin-top: 0;
}
/* Skills Sections Styles */
.skill-items{
    display: flex;
    gap: 20px;
    margin-top: 70px;
}
.skill-item{
    padding: 38px;
    box-shadow: 0px 6px 50px 0 lightgray;
    border-radius: 5px;
}
.skill-title, .skill-desc{
    text-align: center;
}
/* Resume Section Styles */
.resume-container{
    display: flex;
    gap: 80px;
}
.resume-title{
    text-align: center;
    margin: 80px 0;
}
.education-desc, .experience-desc{
    color: #757575;
}
.education-subtitle, .experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}
.btn-center{
    text-align: center;
    margin-top: 50px;
}
.education-title, .experience-title{
    font-size: 20px;
    margin-bottom: 0;
}